body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;

}

a{
    text-decoration: none;
    color: #cdd2ff;
}

header{
    display: flex;
    background-color:#211e66;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 12px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color:#008dff
} 

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}